<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top" id="navbar-container">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/static/img/ico/rara.png" alt="RARA Workshop Logo" height="30">
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#cfp">Call for Papers </a></li>
        <li><a href="#guidelines">Submission Guidelines</a></li>
        <li><a href="#dates">Important Dates</a></li>
        <li><a href="#organizers">Organizers</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="row" id="title">
  <div class="col-xs-12">
    <center>
      <div>
        <img src="/static/img/ico/rara.png" alt="RARA Workshop Logo" height="150" class="mb-3" style="margin-bottom: 20px; display: block;">
      </div>
      <h1>Workshop on Grounding Documents with <span class="r1">Reasoning</span>, <span class="a1">Agents</span>, <span class="r2">Retrieval</span>, and <span class="a2">Attribution</span></h1>
    </center>
    <center>
      <h2>November 12-15, 2025 @ ICDM 2025. Washington DC.</h2>
    </center>
  </div>
</div>